//Icons
.lib-font-face(
    @family-name: 'Material Symbols Outlined',
    @font-path: '@{baseDir}fonts/GoogleFontsIcons/MaterialSymbolsRounded',
    @font-weight: 400,
    @font-style: normal,
    @font-display: swap
);

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

//Font Nunito
.lib-font-face(
    @family-name: 'Nunito',
    @font-path: '@{baseDir}fonts/Nunito/static/Nunito',
    @font-style: normal,
    @font-display: swap
);

body {
    font-family: 'Nunito';
}